/* LoadingComponent.module.css */

.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    margin-bottom: 20px;
    animation: rotate 1.5s infinite;
  }
  
  .iconContainer {
    margin-top: 10px;
    animation: bounce 1.5s infinite;
  }
  
  .loadingText {
    font-size: 18px;
    font-weight: bold;
    color: #3182ce;
    margin-top: 10px;
  }
  
  /* Simple Bounce Animation for the Icon */
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  /* Optional: Rotate animation for spinner */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  