/* src/styles/AuthPage.css */
.auth-page {
    background-image: url('./BG.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  